@import url('https://fonts.googleapis.com/css?family=Pacifico|Montserrat:400,700');
body {
	font-family: 'Montserrat', sans-serif;
	background-color: #FFF;
}
h1, h2, h3, h4, h5, h6, p, small, i {
    font-family: 'Montserrat', sans-serif;
}
.tagkl {
    font-family: 'Pacifico', cursive;
}
.tagkl-brand {
	color: #FFF;
	display: inline-block;
}
.tagkl-brand h1 {
    font-family: 'Pacifico', cursive;
    line-height: 1.5;
}
.tagkl-brand:hover {
	color: #FFF;
	text-decoration: none;
}
.auth-body {
    background: #000;
    background-size: cover;
	color: #FFF;
}
.left-side {
    padding: 30px 0 0 100px;
}
.content-top {
	margin-bottom: 150px;
}
.content-top h1 {
	font-weight: 100;
}
.content-top h5 {
	font-weight: 400;
	margin: 0;
	color: #ECF0F1;
}
.content-middle h2{
	font-weight: 100;
}
.login-box {
    width: auto;
    height: auto;
    background: #FFF;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.login-box header {
    width: 100%;
    background: #395373;
    padding: 20px;
    line-height: 2.5;
}
.login-box header h4, p{
    margin: 0;
}
.login-box .login-body {
    color: #333;
    padding: 25px 0 20px 25px;
}
#signup-modal-pembeli .modal-header {
	padding: 15px;
	color: #000;
	text-align: center;
}
#signup-modal-pembeli .modal-subtitle {
	color: #EEE;
}
#signup-modal-pembeli .modal-body {
	margin-top: -25px;
	color: #333;
}

.fileUpload {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    background: #EAEAEA;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}