@import url('https://fonts.googleapis.com/css?family=Pacifico|Montserrat:400,700');

body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    background-color: #F4F5F7;
}

.alert-success {
    background-color: #18bc9c;
    border-color: #18bc9c;
    color: #ffffff;
}
.alert-success hr {
    border-top-color: #15a589;
}
.alert-success .alert-link {
    color: #e6e6e6;
}
.alert-info {
    background-color: #3498db;
    border-color: #3498db;
    color: #ffffff;
}
.alert-info hr {
    border-top-color: #258cd1;
}
.alert-info .alert-link {
    color: #e6e6e6;
}
.alert-warning {
    background-color: #f39c12;
    border-color: #f39c12;
    color: #ffffff;
}
.alert-warning hr {
    border-top-color: #e08e0b;
}
.alert-warning .alert-link {
    color: #e6e6e6;
}
.alert-danger {
    background-color: #e74c3c;
    border-color: #e74c3c;
    color: #ffffff;
}
.alert-danger hr {
    border-top-color: #e43725;
}
.alert-danger .alert-link {
    color: #e6e6e6;
}

.modal.fade .modal-dialog {
    opacity: 0;
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -o-transform: scale(0.1);
    transform: scale(0.1);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.modal.fade.in .modal-dialog {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

/* DIALOG CONTENT */
.modal-content {
    border: none;
    border-radius: 2px;
    -webkit-box-shadow: 0 40px 77px rgba(0, 0, 0, 0.22), 0 27px 24px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 40px 77px rgba(0, 0, 0, 0.22), 0 27px 24px rgba(0, 0, 0, 0.2);
    box-shadow: 0 40px 77px rgba(0, 0, 0, 0.22), 0 27px 24px rgba(0, 0, 0, 0.2);
}

/* DIALOG HEADER */
.modal-header {
    min-height: 16px;
    padding: 24px;
    border-bottom: none;
}

.modal-title {
    font-weight: 500;
    font-size: 21px;
}

/* DIALOG BODY */
.modal-body {
    padding: 0 24px;
}

.modal-body p {
    font-weight: 400;
    font-size: 14px;
}

.modal-body .lead {
    font-weight: 300;
    font-size: 16px;
}

.modal-body p:last-child,
.modal-body .lead:last-child {
    margin-bottom: 0;
}

/* DIALOG FOOTER */
.modal-footer {
    margin-top: 24px;
    padding: 8px 0;
    border-top: none;
}

.modal-middle {
    text-align: center;
    padding: 0!important;
}
.modal-middle:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
.modal-middle .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.btn {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: inherit;
    color: rgba(255, 255, 255, 0.87);
}
.btn-default,
.btn-link {
    color: rgba(0, 0, 0, 0.87);
}
.btn {
    outline: 0;
    outline-offset: 0;
    border: 0;
    border-radius: 2px;
    transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus,
.btn.active:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.btn-raised {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}
.btn-raised:active,
.btn-raised.active,
.btn-raised:active:focus,
.btn-raised.active:focus {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.btn-raised:focus {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.btn.btn-circle {
    padding: 0;
    border-radius: 50%;
}
.btn-default,
.dropdown-toggle.btn-default {
    background-color: #fff;
}
.btn-default:hover,
.dropdown-toggle.btn-default:hover {
    background-color: #e5e5e5;
}
.btn-default:active,
.dropdown-toggle.btn-default:active,
.btn-default.active,
.dropdown-toggle.btn-default.active {
    background-color: #e5e5e5;
}
.btn-default:focus,
.dropdown-toggle.btn-default:focus {
    background-color: #cccccc;
}
.btn-default:disabled,
.dropdown-toggle.btn-default:disabled,
.btn-default.disabled,
.dropdown-toggle.btn-default.disabled,
.btn-default[disabled],
.dropdown-toggle.btn-default[disabled] {
    background-color: #b3b3b3;
}
.btn-default .ink,
.dropdown-toggle.btn-default .ink {
    background-color: #b8b8b8;
}
.btn-flat.btn-default {
    color: #212121;
    background-color: transparent;
}
.btn-flat.btn-default:hover {
    color: #141414;
    background-color: #e5e5e5;
}
.btn-flat.btn-default:active,
.btn-flat.btn-default.active {
    color: #020202;
    background-color: #cccccc;
}
.btn-flat.btn-default:focus {
    color: #000;
    background-color: #cccccc;
}
.btn-flat.btn-default .ink {
    background-color: #808080;
}
.btn-primary,
.dropdown-toggle.btn-primary {
    background-color: #5677fc;
}
.btn-primary:hover,
.dropdown-toggle.btn-primary:hover {
    background-color: #4e6cef;
}
.btn-primary:active,
.dropdown-toggle.btn-primary:active,
.btn-primary.active,
.dropdown-toggle.btn-primary.active {
    background-color: #4e6cef;
}
.btn-primary:focus,
.dropdown-toggle.btn-primary:focus {
    background-color: #455ede;
}
.btn-primary:disabled,
.dropdown-toggle.btn-primary:disabled,
.btn-primary.disabled,
.dropdown-toggle.btn-primary.disabled,
.btn-primary[disabled],
.dropdown-toggle.btn-primary[disabled] {
    background-color: #b3b3b3;
}
.btn-primary .ink,
.dropdown-toggle.btn-primary .ink {
    background-color: #3b50ce;
}
.btn-flat.btn-primary {
    color: #5677fc;
    background-color: transparent;
}
.btn-flat.btn-primary:hover {
    color: #4e6cef;
    background-color: #e5e5e5;
}
.btn-flat.btn-primary:active,
.btn-flat.btn-primary.active {
    color: #455ede;
    background-color: #cccccc;
}
.btn-flat.btn-primary:focus {
    color: #3b50ce;
    background-color: #cccccc;
}
.btn-flat.btn-primary .ink {
    background-color: #808080;
}
.btn-success,
.dropdown-toggle.btn-success {
    background-color: #4CAF50;
}
.btn-success:hover,
.dropdown-toggle.btn-success:hover {
    background-color: #43A047;
}
.btn-success:active,
.dropdown-toggle.btn-success:active,
.btn-success.active,
.dropdown-toggle.btn-success.active {
    background-color: #388E3C;
}
.btn-success:focus,
.dropdown-toggle.btn-success:focus {
    background-color: #388E3C;
}
.btn-success:disabled,
.dropdown-toggle.btn-success:disabled,
.btn-success.disabled,
.dropdown-toggle.btn-success.disabled,
.btn-success[disabled],
.dropdown-toggle.btn-success[disabled] {
    background-color: #b3b3b3;
}
.btn-success .ink,
.dropdown-toggle.btn-success .ink {
    background-color: #056f00;
}
.btn-flat.btn-success {
    color: #259b24;
    background-color: transparent;
}
.btn-flat.btn-success:hover {
    color: #0a8f08;
    background-color: #e5e5e5;
}
.btn-flat.btn-success:active,
.btn-flat.btn-success.active {
    color: #0a7e07;
    background-color: #cccccc;
}
.btn-flat.btn-success:focus {
    color: #056f00;
    background-color: #cccccc;
}
.btn-flat.btn-success .ink {
    background-color: #808080;
}
.btn-info,
.dropdown-toggle.btn-info {
    background-color: #03a9f4;
}
.btn-info:hover,
.dropdown-toggle.btn-info:hover {
    background-color: #039be5;
}
.btn-info:active,
.dropdown-toggle.btn-info:active,
.btn-info.active,
.dropdown-toggle.btn-info.active {
    background-color: #039be5;
}
.btn-info:focus,
.dropdown-toggle.btn-info:focus {
    background-color: #0288d1;
}
.btn-info:disabled,
.dropdown-toggle.btn-info:disabled,
.btn-info.disabled,
.dropdown-toggle.btn-info.disabled,
.btn-info[disabled],
.dropdown-toggle.btn-info[disabled] {
    background-color: #b3b3b3;
}
.btn-info .ink,
.dropdown-toggle.btn-info .ink {
    background-color: #0277bd;
}
.btn-flat.btn-info {
    color: #03a9f4;
    background-color: transparent;
}
.btn-flat.btn-info:hover {
    color: #039be5;
    background-color: #e5e5e5;
}
.btn-flat.btn-info:active,
.btn-flat.btn-info.active {
    color: #0288d1;
    background-color: #cccccc;
}
.btn-flat.btn-info:focus {
    color: #0277bd;
    background-color: #cccccc;
}
.btn-flat.btn-info .ink {
    background-color: #808080;
}
.btn-warning,
.dropdown-toggle.btn-warning {
    background-color: #ffc107;
}
.btn-warning:hover,
.dropdown-toggle.btn-warning:hover {
    background-color: #ffb300;
}
.btn-warning:active,
.dropdown-toggle.btn-warning:active,
.btn-warning.active,
.dropdown-toggle.btn-warning.active {
    background-color: #ffb300;
}
.btn-warning:focus,
.dropdown-toggle.btn-warning:focus {
    background-color: #ffa000;
}
.btn-warning:disabled,
.dropdown-toggle.btn-warning:disabled,
.btn-warning.disabled,
.dropdown-toggle.btn-warning.disabled,
.btn-warning[disabled],
.dropdown-toggle.btn-warning[disabled] {
    background-color: #b3b3b3;
}
.btn-warning .ink,
.dropdown-toggle.btn-warning .ink {
    background-color: #ff8f00;
}
.btn-flat.btn-warning {
    color: #ffc107;
    background-color: transparent;
}
.btn-flat.btn-warning:hover {
    color: #ffb300;
    background-color: #e5e5e5;
}
.btn-flat.btn-warning:active,
.btn-flat.btn-warning.active {
    color: #ffa000;
    background-color: #cccccc;
}
.btn-flat.btn-warning:focus {
    color: #ff8f00;
    background-color: #cccccc;
}
.btn-flat.btn-warning .ink {
    background-color: #808080;
}
.btn-danger,
.dropdown-toggle.btn-danger {
    background-color: #ff5722;
}
.btn-danger:hover,
.dropdown-toggle.btn-danger:hover {
    background-color: #f4511e;
}
.btn-danger:active,
.dropdown-toggle.btn-danger:active,
.btn-danger.active,
.dropdown-toggle.btn-danger.active {
    background-color: #f4511e;
}
.btn-danger:focus,
.dropdown-toggle.btn-danger:focus {
    background-color: #e64a19;
}
.btn-danger:disabled,
.dropdown-toggle.btn-danger:disabled,
.btn-danger.disabled,
.dropdown-toggle.btn-danger.disabled,
.btn-danger[disabled],
.dropdown-toggle.btn-danger[disabled] {
    background-color: #b3b3b3;
}
.btn-danger .ink,
.dropdown-toggle.btn-danger .ink {
    background-color: #d84315;
}
.btn-flat.btn-danger {
    color: #ff5722;
    background-color: transparent;
}
.btn-flat.btn-danger:hover {
    color: #f4511e;
    background-color: #e5e5e5;
}
.btn-flat.btn-danger:active,
.btn-flat.btn-danger.active {
    color: #e64a19;
    background-color: #cccccc;
}
.btn-flat.btn-danger:focus {
    color: #d84315;
    background-color: #cccccc;
}
.btn-flat.btn-danger .ink {
    background-color: #808080;
}
.btn {
    min-width: 88px;
    padding: 10px 14px;
}
.btn-lg,
.btn-group-lg > .btn {
    min-width: 122px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3;
}
.btn-sm,
.btn-group-sm > .btn {
    min-width: 64px;
    padding: 4px 12px;
    font-size: 12px;
    line-height: 1.5;
}
.btn-xs,
.btn-group-xs > .btn {
    min-width: 46px;
    padding: 2px 10px;
    font-size: 10px;
    line-height: 1.5;
}
.btn-circle {
    width: 56px;
    height: 56px;
    min-width: 56px;
}
.btn-circle span {
    line-height: 56px;
}
.btn-circle.btn-lg {
    width: 78px;
    height: 78px;
    min-width: 78px;
}
.btn-circle.btn-lg span {
    line-height: 78px;
}
.btn-circle.btn-sm {
    width: 40px;
    height: 40px;
    min-width: 40px;
}
.btn-circle.btn-sm span {
    line-height: 40px;
}
.btn-circle.btn-xs {
    width: 30px;
    height: 30px;
    min-width: 30px;
}
.btn-circle.btn-xs span {
    line-height: 30px;
}
.btn-group .btn {
    border-radius: 2px;
}
.btn-group.open .dropdown-toggle {
    outline: 0;
    outline-offset: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
    margin-left: 0;
}
.btn-group > .btn:hover,
.btn-group-vertical > .btn:hover {
    z-index: 0;
}
.btn-group > .btn:focus:hover,
.btn-group-vertical > .btn:focus:hover,
.btn-group > .btn:active:hover,
.btn-group-vertical > .btn:active:hover,
.btn-group > .btn.active:hover,
.btn-group-vertical > .btn.active:hover {
    z-index: 2;
}
.ripple-effect {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}
.ink {
    display: block;
    position: absolute;
    pointer-events: none;
    border-radius: 50%;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    background: #fff;
    opacity: 1;
}
.ink.animate {
    -webkit-animation: ripple .5s linear;
    -moz-animation: ripple .5s linear;
    -ms-animation: ripple .5s linear;
    -o-animation: ripple .5s linear;
    animation: ripple .5s linear;
}
@keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}
@-webkit-keyframes ripple {
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5);
        transform: scale(2.5);
    }
}
@-moz-keyframes ripple {
    100% {
        opacity: 0;
        -moz-transform: scale(2.5);
        transform: scale(2.5);
    }
}
@-ms-keyframes ripple {
    100% {
        opacity: 0;
        -ms-transform: scale(2.5);
        transform: scale(2.5);
    }
}
@-o-keyframes ripple {
    100% {
        opacity: 0;
        -o-transform: scale(2.5);
        transform: scale(2.5);
    }
}

.loader-pkl {
    position: relative;
    width: 44px;
    height: 8px;
    margin: 12px auto;
}

.dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: #ccc;
    position: absolute;
}

.dot_1 {
    animation: animateDot1 1.5s linear infinite;
    left: 12px;
    background: #e579b8;
}

.dot_2 {
    animation: animateDot2 1.5s linear infinite;
    animation-delay: 0.5s;
    left: 24px;
}

.dot_3 {
    animation: animateDot3 1.5s linear infinite;
    left: 12px;
}

.dot_4 {
    animation: animateDot4 1.5s linear infinite;
    animation-delay: 0.5s;
    left: 24px;
}

@keyframes animateDot1 {
    0% {
        transform: rotate(0deg) translateX(-12px);
    }
    25% {
        transform: rotate(180deg) translateX(-12px);
    }
    75% {
        transform: rotate(180deg) translateX(-12px);
    }
    100% {
        transform: rotate(360deg) translateX(-12px);
    }
}
@keyframes animateDot2 {
    0% {
        transform: rotate(0deg) translateX(-12px);
    }
    25% {
        transform: rotate(-180deg) translateX(-12px);
    }
    75% {
        transform: rotate(-180deg) translateX(-12px);
    }
    100% {
        transform: rotate(-360deg) translateX(-12px);
    }
}
@keyframes animateDot3 {
    0% {
        transform: rotate(0deg) translateX(12px);
    }
    25% {
        transform: rotate(180deg) translateX(12px);
    }
    75% {
        transform: rotate(180deg) translateX(12px);
    }
    100% {
        transform: rotate(360deg) translateX(12px);
    }
}
@keyframes animateDot4 {
    0% {
        transform: rotate(0deg) translateX(12px);
    }
    25% {
        transform: rotate(-180deg) translateX(12px);
    }
    75% {
        transform: rotate(-180deg) translateX(12px);
    }
    100% {
        transform: rotate(-360deg) translateX(12px);
    }
}


.tagkl {
    font-family: 'Pacifico', cursive;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #FFF;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-box-shadow: 5px 0px 31px 0px rgba(204,204,204,0.4);
    -moz-box-shadow: 5px 0px 31px 0px rgba(204,204,204,0.4);
    box-shadow: 5px 0px 31px 0px rgba(204,204,204,0.4);
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 10px;
    line-height: 50px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
    border-left: 3px solid #FFF;
}

.sidebar-nav li a i {
    margin-right: 15px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #616161;
    background: #F8F8F8;
    border-left: 3px solid #F44336;
}

.sidebar-nav li.active a {
    text-decoration: none;
    color: #616161;
    background: #F8F8F8;
    border-left: 3px solid #F44336;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.sidebar-nav .profile-picture {
    height: 80px;
    display: block;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.toggle-menu {
    cursor: pointer;
    transition: 0.3s;
}
.toggle-menu:hover {
    color: #F44336;
}
.box {
    width: auto;
    min-height: 50px;
    background: #FFF;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(232,232,232,0.3);
    -moz-box-shadow: 0px 0px 25px 0px rgba(232,232,232,0.3);
    box-shadow: 0px 0px 25px 0px rgba(232,232,232,0.3);
}
.box:hover {
    -webkit-box-shadow: 0px 0px 25px 0px rgba(232,232,232,1);
    -moz-box-shadow: 0px 0px 25px 0px rgba(232,232,232,1);
    box-shadow: 0px 0px 25px 0px rgba(232,232,232,1);
}
.box-header {
    border-radius: 2px 2px 0 0;
    min-height: 20px;
    width: 100%;
    padding: 10px;
}
.box-header.with-border {
    border-bottom: 1px solid #EAEAEA;
}
.box-body {
    padding: 10px;
}
.overlay {
    width: 100%;
    height: 300px;
    position: relative;
    float: left;
}
.mid h2 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.profile-box {
    -webkit-box-shadow: 0px 0px 25px 0px rgba(232,232,232,0.3);
    -moz-box-shadow: 0px 0px 25px 0px rgba(232,232,232,0.3);
    box-shadow: 0px 0px 25px 0px rgba(232,232,232,0.3);
}
.profile-box .cover {
    width: 100%;
    height: 300px;
}
.profile-box .cover {
    position: relative;
    padding: 0;
    margin: 0;
}
.profile-box .cover img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.profile-box .cover:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0px, rgba(0, 0, 0, 0.6) 100%) repeat 0 0;
    z-index: 1;
}
.profile-box .cover .name {
    display: block;
    width: 100%;
    color: #fff;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}
.profile-box .cover .name img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.profile-box .profile-box-body {
    background: #FFF;
}
.profile-box .profile-box-body .tab {
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
    text-align: center;
    border-left: 1px solid #EEE;
    transition: 0.3s;
    cursor: pointer;
    color: #607D8B;
}
.profile-box .profile-box-body .tab.active {
    background: #EEE;
}
.profile-box .profile-box-body .tab:hover{
    background: #EEE;
}