@import url('https://fonts.googleapis.com/css?family=Pacifico|Montserrat:400,700');
html, body {
    height: 100%;
}
body {
    font-family: 'Montserrat', sans-serif;
	background-color: #F6FAFD;
}
.tagkl-content {
    padding-top: 100px;
}
h1, h2, h3, h4, h5, h6, p, i, sub, sup, small {
    font-family: 'Montserrat', sans-serif;
}
.tagkl {
    font-family: 'Pacifico', cursive;
}
a:hover {
    text-decoration: none;
}
.tagkl-navbar {
    width: 100%;
    min-height: 70px;
    position: fixed;
    background: #FFF;
    box-shadow: 0 10px 20px rgba(108, 122, 137,0.01), 0 6px 6px rgba(108, 122, 137,0.20);
    z-index: 99;
}
.tagkl-navbar .tagkl-brand {
    cursor: pointer;
    /*margin: 10px;*/
}
.tagkl-navbar .tagkl-brand h3 {
    color: #6C7A89;
    transition: 0.5s;
}
.tagkl-navbar .tagkl-brand h3:hover {
    color: #95A5A6;
}
.tagkl-navbar .tagkl-search {
    margin: 15px;
}
.tagkl-navbar .tagkl-notif-bar {
}
.tagkl-navbar .tagkl-notif-bar a {
    line-height: 70px;
    font-size: 25px;
    color: #ABB7B7;
    margin: 0 15px 0 15px;
    display: inline;
    transition: 0.5s;
}
.tagkl-navbar .tagkl-notif-bar a:hover {
    color: #6C7A89;
}
.tagkl-navbar .tagkl-notif-bar a.active {
    color: #e00;
}
.tagkl-navbar .tagkl-profile-bar {
    width: 100%;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    color: #6C7A89;
    transition: 0.5s;
}
.tagkl-navbar .tagkl-profile-bar img{
    width: 35px;
    height: 35px;
    border-radius:50%;
    display: inline;
}
.tagkl-menu-left-wrapper {
    border-right: 2px solid #EAEAEA;
    padding-top: 25px;
    padding-bottom: 15px;
    position: fixed;
}
.tagkl-menu-left-list {
    margin: 0 25px 45px 15px;
    color: #ABB7B7;
    cursor: pointer;
    transition: 0.5s;
}
.tagkl-menu-left-list:hover {
    color: #6C7A89;
}
.tagkl-menu-left-list.active {
    color: #6C7A89;
}
.tagkl-welcome-message {
    margin-bottom: 20px;
}
.tagkl-welcome-message h1{
    color: #6C7A89;
}
.tagkl-welcome-message hr {
    width: 15%;
    margin-left: 0;
    border-color: #EAEAEA;
    border-width: 2px;
}
.tagkl-welcome-message p {
    margin: 0;
    color: #777;
}
.tagkl-beranda-section h3 {
    color: #6C7A89;
}
.tagkl-box {
    width: 100%;
    min-height: 100px;
    background: #FFF;
    box-shadow: 0 10px 20px 20px rgba(108, 122, 137,0.01), 0 2px 2px rgba(108, 122, 137,0.20);
    border-radius: 3px;
}
.tagkl-box:hover {
    box-shadow: 0 10px 20px 20px rgba(108, 122, 137,0.01), 0 5px 5px rgba(108, 122, 137,0.20);
}
.tagkl-box#maps-box {
    height: 300px;
}
.maps-info {
    background: #FFF;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    box-shadow: 0 10px 20px 20px rgba(108, 122, 137,0.01), 0 6px 6px rgba(108, 122, 137,0.20);
    border-radius: 3px;
    color: #6C7A89;
}
.tagkl-beranda-section {
    margin-bottom: 20px;
}
.tagkl-box#new-pkl-box {
    text-align: center;
    padding: 15px;
    color: #6C7A89;
    margin: 10px;
}
.tagkl-box#new-pkl-box img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid #EAEAEA;
}
.tagkl-box#pkl-ads-box {
    padding: 15px;
    text-align: center;
}
.tagkl-box#pkl-ads-box h4 {
    color: #6C7A89;
}
.tagkl-box#pkl-ads-box img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #EAEAEA;
}
.tagkl-box#pkl-ads-box .ads-info {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    box-shadow: 0 10px 20px 20px rgba(108, 122, 137,0.01), 0 1px 1px rgba(108, 122, 137,0.20);
    border-radius: 3px;
}
.tagkl-box .header {
    width: 100%;
    min-height: 50px;
    color: #FFF;
}
.nav-pills.nav-setting > li > a {
    border-radius: 0;
    color: #f44336;
}
.nav-pills.nav-setting > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #FFF;
    background-color: #F44336;
}
.list-text {
    margin-bottom: 5px;
}
.list-text a{
    color: #ABB7B7;
    display: inline-block;
}
.list-text > a:not(:last-child):after {
    content: ' · ';
}
.list-text a:hover {
    color: #6C7A89;
}
.profile-dropdown {
    text-align: center;
}
.profile-dropdown img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid #eaeaea;
}
.profile-dropdown h4 {
    color: #6C7A89;
}
#tagkl-switch-status {
    padding: 10px 12px 0 12px;
}
#tagkl-switch-status h4 {
    color: #777;
}
#tagkl-switch-status a {
    padding: 5px 10px 5px 10px;
    margin-right: 10px;
    border-radius: 3px;
    color: #6C7A89;
    transition: 0.5s;
    font-size: 15px;
}
#tagkl-switch-status a:hover {
    background: #EEE;
}
#tagkl-switch-status a.active{
    background: #EEE;
}
#tagkl-switch-status .img-preview {
    width: 100%;
}
.image-container {
    position: relative;
}
.image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.image-container .after p {
    color: #EEE;
    text-align: center;
    cursor: pointer;
}
.image-container:hover .after {
    display: block;
    background: rgba(108, 122, 137, 0.3);
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
#new-pkl-list a {
    display: block;
    margin-right: 10px;
}
#pkl-ads-list #pkl-ads-box {
    display: block;
    margin-right: 10px;
}
.news-feed-box {
    padding: 10px;
    margin-bottom: 20px;
}
.news-feed-box .news-feed-header img {
    min-width: 55px;
    max-width: 55px;
    min-height: 55px;
    max-height: 55px;
    border: 1px solid #EAEAEA;
}
.news-feed-box .news-feed-header p {
    margin-top: 5px;
    line-height: 1.5;
}
.news-feed-box .news-feed-header p small {
    color: #ABB7B7;
}
.news-feed-box .news-feed-header .news-feed-reaction {
    text-align: right;
}
.news-feed-box .news-feed-body p {
    text-align: justify;
    color: #7D7D7D;
}
.news-feed-box .news-feed-body img:hover {
    box-shadow: 0 10px 20px 20px rgba(108, 122, 137,0.01), 0 5px 5px rgba(108, 122, 137,0.20);
    cursor: pointer;
}
.news-feed-box .news-feed-body .news-feed-reaction {
    margin: 10px 0 5px 0;
}
.news-feed-box .news-feed-body .news-feed-reaction a {
    margin: 0 20px 0 0;
}
.news-feed-box .news-feed-body .news-feed-reaction a:focus {
    text-decoration: none;
}
.news-feed-box .news-feed-body .news-feed-reaction a.liked {
    color: #E53935;
}
.news-feed-box .news-feed-body .like-count {
    margin: 10px 0 10px 0;
}
.tagkl-profile-box {
    width: 100%;
    background: #FFF;
    /*box-shadow: 0 10px 20px 20px rgba(108, 122, 137,0.01), 0 1px 1px rgba(108, 122, 137,0.20);*/
    border-radius: 2px;
}
.tagkl-profile-box .cover {
    border-radius: 2px;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 100%;
    height: 300px;
}
.tagkl-profile-box .cover * {
    position: relative;
}
.overlay {
    position: relative;
}
.overlay:before{
    position: absolute;
    content:" ";
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:0;
}
.grey:before {
    background-image: linear-gradient(90deg, rgba(236, 240, 241, 0.3), rgba(236, 240, 241, 0.1));
}
.tagkl-profile-box .cover .profile-info {
    position: absolute;
    bottom: 0;
    padding: 50px;
}
.tagkl-profile-box .cover .profile-info img{
    width: 125px;
    height: 125px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tagkl-profile-box .cover .profile-info p{
    font-size: 25px;
    color: #EAEAEA;
    margin-top: 10px;
}
.tagkl-box.in-profile {
    padding: 20px;
    margin-bottom: 20px;
}
.tagkl-box.in-profile h4{
    color: #777;
}
.tagkl-box.in-profile p.intro-memo {
    color: #60646D;
    text-align: center;
    margin-bottom: 20px;
}
.tagkl-box.in-profile p.intro-memo:before {
    content: ' “ ';
}
.tagkl-box.in-profile p.intro-memo:after {
    content: ' ” ';
}
.tagkl-box.in-profile ul {
    list-style: none;
    padding: 0;
    color: #ABB7B7;
}
.tagkl-box.in-profile li {
    margin-bottom: 10px;
}
.tagkl-like-detail .like-list {
    padding: 10px;
    border-radius: 3px;
    transition: 0.3s;
}
.tagkl-like-detail .like-list img {
    max-width: 55px;
    width: 55px;
    max-height: 55px;
    height: 55px;
    margin-right: 15px;
}
.tagkl-like-detail .like-list p {
    margin: 0;
}
.tagkl-like-detail .like-list:hover {
    background: #EAEAEA;
}
.modal-middle {
    text-align: center;
    padding: 0!important;
}
.modal-middle:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
.modal-middle .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.edit-profile-picture-container {
    width: 100%;
    height: 225px;
    border: 2px solid #EAEAEA;
    background-color: #EAEAEA;
    text-align: center;
    float: left;
}
.btn.btn-flat-default {
    color: #EAEAEA;
    background: rgba(236, 240, 241, 0.3);
    padding-left: 10px;
    padding-right: 10px;
}
.t-navbar {
    background: #FFF;
    padding: 15px;
    border-bottom: 1px solid #EAEAEA;
}
.t-navbar .t-navbar-title {
    font-family: 'Pacifico', cursive;
    font-weight: 500;
    margin: 10px 0 0 0;
}
.t-navbar .t-navbar-menu {
    display: inline-block;
    margin: 0 15px 0 15px;    
}
.t-navbar .t-navbar-menu h5{
    margin: 0;
    color: #989C9E;
    font-weight: 400;
    text-transform: capitalize;
    transition: 0.3s;
}
.t-navbar .t-navbar-menu h5 i {
    font-size: 20px;
    line-height: 1.5;
}
.t-navbar .t-navbar-menu:hover h5 {
    color: #777;
}
.t-navbar .t-navbar-menu.active h5 {
    color: #777;
}
.t-navbar .t-navbar-profile {
    font-size: 15px;
    margin: 0;
}
.t-navbar .t-navbar-profile img {
    width: 35px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
}
.t-navbar .t-navbar-profile .dropdown-menu li i {
    position: absolute;
}
.maps-canvas {
    width: 100%;
    height: 100%;
}
.maps-picker {
    height: 100%;
    background: #EEE;
    color: #777;
}
.pkl-around {
    height: 350px;
    overflow: auto;
}
.pkl-around .pkl-around-list {
    padding: 10px;
    width: 100%;
    color: #777;
}
.pkl-around .pkl-around-list img{
    width: 50px;
    height: 45px;
    border-radius: 50%;
    display: inline-block;
}
.pkl-around .pkl-around-list h5{
    display: inline-block;
}
.pkl-around .pkl-around-list:hover {
    background: #eaeaea;
}
.pkl_list {
    margin: 25px 0 25px 0;
}
.pkl_list h3 {
    font-weight: 500;
    color: #6C7A89;
    margin: 0;
    line-height: 1.5;
}
.kotak {
		width: 100%;
		min-height: 350px;
		height:auto;
		background: #FFF;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		margin-bottom: 20px;
		border-radius: 2px;
		cursor: pointer;
		transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.kotak:hover {
		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.kotak .kotak-sampul .kotak-profile {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    margin-top: -35px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.kotak .kotak-body {
    padding: 1rem;
}
.beranda-sidebar {
    background: #FFF;
    box-shadow: 0 3px 6px rgba(108, 122, 137,0.16), 0 3px 6px rgba(108, 122, 137,0.23);
    padding: 20px 15px 20px 15px;
}
.beranda-sidebar h5 {
    font-weight: 500;
    color: #777;
}
.ads-list {
    transition: 0.5s;
    padding: 5px;
    border-radius: 2px;
    margin-bottom: 5px;
}
.ads-list h4{
    color: #3B5998;
    font-weight: 600;
}
.ads-list p {
    text-align: justify;
    color: #777;
}
.ads-list:hover {
    background: #F4F4F4;
}
.buka {
	background: #2ECC71;
	-webkit-animation-name: buka-animation;
  	-webkit-animation-duration: 1s;
  	-webkit-animation-iteration-count: infinite;
}
.tutup {
		background: #EF4836;
}
.new-alert {
		position: fixed;
		bottom:0;
		right:0;
		margin: 20px;
		width: 300px;
		padding: 20px;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		border-radius: 5px;
}
.alert-white {
		background: rgba(255, 255, 255, 0.8);
}
.alert-white:hover {
		background: rgba(255, 255, 255, 1);
}

@-webkit-keyframes buka-animation {
  from {
    opacity: 0.75;
  }
  50% {
    opacity: 1.0;
  }
  to {
    opacity: 0.75;
  }
}
